body{
    /* background-image: url(../img/fondo.jpg); */
  /*  background-image: url(https://image.shutterstock.com/image-vector/vector-seamless-pattern-modern-stylish-260nw-227095708.jpg);*/
}
.title{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subtitle{
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.caja{
    width: 300px;
    height: 300px;
    font-size: 50px;
    padding: 20px;
    /* margin: 20px; */
    margin-bottom: 20px;
}
.rojo{
    /* background-color: red; */
    border: 1px solid red;
    /* border-radius: 50%; */
}
.verde{
    /* background-color: green; */
    border: 1px solid green;
}
.azul{
    /* background-color: blue; */
    border: 1px solid blue;
}